@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KEwA.ttf) format('truetype');
}
.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
}
.hidden {
  display: none;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.25;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62%;
  font-family: 'PT Sans', sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a,
p {
  font-size: 1.6rem;
  color: #30323D;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body {
  background-color: #eff9f0;
}
.nav {
  padding: 10px 20px;
  background-color: #323232;
  width: 100%;
}
.nav .container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nav .container .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 550px) {
  .nav .container .row {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
.menu-btn {
  color: #eff9f0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 5px 0;
  font-weight: bold;
  width: 50vw;
  max-width: 150px;
  background-color: #4c4c4c;
}
.menu-btn:hover {
  background-color: #585858;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 15px;
}
.logo {
  width: 100px;
  height: auto;
}
.logo-container h1 {
  color: white;
  font-size: 2.75rem;
  font-weight: bold;
  text-align: center;
}
.menuContainer {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  background-color: #323232;
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  width: 50%;
  max-width: 150px;
}
@media (min-width: 550px) {
  .menu {
    flex-direction: row;
    max-width: 100%;
    width: 100%;
  }
}
.nav-item {
  color: #eff9f0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  margin: 5px 0;
  font-weight: bold;
}
.nav-item:hover {
  background-color: #585858;
}
.nav-active {
  background-color: #444444;
}
.hidden {
  display: none;
}
footer {
  width: 100%;
  padding: 30px 0;
  background-color: #323232;
}
footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer-item {
  color: white;
  padding: 10px 3%;
  width: max-content;
}
.carousel {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .carousel-btn {
  cursor: pointer;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 10%;
  padding: 16px;
  font-weight: bold;
  transition: 0.6s ease;
  background-color: rgba(53, 53, 53, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: 0px;
}
.carousel .carousel-btn:hover {
  background-color: rgba(53, 53, 53, 0.8);
}
.carousel .carousel-left {
  left: 0;
}
.carousel .carousel-right {
  right: 0;
}
.carousel .carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main {
  width: 100%;
  background-color: #eff9f0;
}
main .contact {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
