footer {
  width: 100%;
  padding: 30px 0;
  background-color: @color-nav-background;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.footer-item {
  color: white;
}