.hero {
  background-color: white;
  // background-image: url("../assets/img/soup-photo-1.jpeg");
  // background-size: cover;
  min-height: 500px;
  .cust-flex(column, center, center);
  padding: 0 10%;
  box-shadow: @box-shadow;
  h2 {
    font-size: 3rem;
    text-align: center;
    // color: white;
  }
  p {
    font-size: 2rem;
    margin-top: 30px;
    text-align: center;
    // color: white;
  }
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
}

.feature {
  max-width: 90%;
  padding: 30px 0;
  h4 {
    font-size: 2rem;
  }
  p {
    margin-top: 10px;
  }
}