.nav {
  padding: 10px 20px;
  background-color: rgba(0,0,0,.6);
  position: fixed;
  width: 100%;
}

.nav .container {
  .cust-flex(column, space-evenly, center);
}

.logo-container {
  .cust-flex(row, center, center);
}

.logo-container p{
  color: white;
  font-size: 2.5rem;
}

.logo {
  width: 100px;
  height: auto;
}

.nav-item {
  color: white;
}

